@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: poppins, sans-serif;
    background-color: #dddd;
}

.container11 {
    display: flex;
    height: 80px;
}

.logo {
    width: 15%;
    height: 80px;
    margin: 0px 20px;
    /* mix-blend-mode: lighten; */
    /* border: 2px solid green; */
}

img {
    width: 100%;
    height: 100%;
}

.nav {
    width: 75%;
    height: 80px;
    /* border: 2px solid red; */
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul>li {
    list-style: none;
    margin: 20px 20px;
}

ul>li>a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.btn {
    width: 60px;
    height: 35px;
    background-color: #0d6efd;
    border-radius: 7px;
    border: none;
    font-size: 14px;
}

.btn:hover {
    transform: rotate(360deg);
    transition: 0.8s;
}

li>a:hover {
    color: rgb(228, 43, 228);
}

.image {
    width: 500px;
    height: 500px;
    /* border: 5px solid red; */
    border-radius: 50%;
    position: absolute;
    right: 10px;
    margin: 30px 50px;
    object-fit: cover;
    object-position: center;
    filter: contrast(1.4);
    box-shadow: 0px 0px 25px aqua;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text {
    width: 60%;
    height: 60%;
    display: block;
    position: absolute;
    bottom: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.text h2,
h3,
h4 {
    color: transparent;
    background-image: url(https://th.bing.com/th/id/OIP.FBljR75N6LhoLG1tji8tFQHaE8?w=283&h=189&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    text-align: center;
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 25px;
    text-shadow: 0px 0px 5px #dddddd3b;
}

@media screen and (max-width:480px) {
    .container11 {
        /* /* width: 0px; */
        display: flex;
        /* flex-wrap: wrap; */
        background-color: black;
    }

    .nav {
        width: 50vw;
        /* height: 50px; */
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;

    }

    ul>li>a {
        margin-bottom: 10px;
        color: rgb(255, 17, 255);
        text-align: center;
    }
}

/* .image {
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin-left: 10px;

} */

/* .text {
    width: 400px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1px;

} */